{
  "plugins":
    [
      "prettier-plugin-svelte",
      "@ianvs/prettier-plugin-sort-imports",
      "prettier-plugin-tailwindcss",
    ],
  # "pluginSearchDirs": ["."], // should be removed in v3
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
}
